@font-face {
  font-family: 'Norse';
  src: url('/Norse-Bold.otf');
  /* font-style: normal; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1.5;
}

p {
  max-width: 55ch;
}


.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.container-left {
  background: url('/images/container-left-background.jpg') no-repeat center center/cover;
  /* flex-basis: 33%; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2 1 auto;
}

.logo {
  margin-bottom: auto;
  margin-top: 14rem;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.logo img {
  max-width: auto;
  max-height: 18ch;
}

.logo h1 {
  font-size: 6rem;
  align-self: center;
  font-family: 'Norse';
}

.container-left cite {
  margin-bottom: 0.7rem;
  font-style: normal;
}

.container-left a {
  color: inherit;
}

.container-right {
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container-right-text {
  font-weight: 600;
  font-size: 1.3rem;
}

.container-right-text>p:last-child {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.container-right-text span {
  font-style: italic;
}