@font-face {
  font-family: 'Norse';
  src: url('/Norse-Bold.otf');
  /* font-style: normal; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1.5;
  background-color: hsl(0, 0%, 95%);
}

p {
  max-width: 55ch;
}


.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.container-left {
  background: url('/images/container-left-background.jpg') no-repeat center center/cover;
  /* flex-basis: 33%; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2 1 auto;
}

.logo {
  margin-bottom: auto;
  margin-top: 14rem;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.logo img {
  max-width: auto;
  max-height: 18ch;
}

.logo h1 {
  font-size: 6rem;
  align-self: center;
  font-family: 'Norse';
}

.container-left cite {
  margin-bottom: 0.7rem;
  font-style: normal;
}

.container-left a {
  color: inherit;
}

.container-right {
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

.container-right-text {
  padding-left: 3rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.container-right-text>p:last-child {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.container-right-text span {
  font-style: italic;
}

.container-right-form {
  background-color: hsl(0, 0%, 100%);
  min-width: 100%;
  padding: 1.5rem 3rem 2rem;
}

.container-right-form h2 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.container-right-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 4rem; */
}

.container-right-form .group {
  display: flex;
  gap: 4rem;
}

.container-right-form form>*+* {
  margin-top: 1rem;
}

.container-right-form p {
  display: flex;
  flex-direction: column;
}

.container-right-form label {
  letter-spacing: .1rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: hsl(0, 0%, 40%);
}

.container-right-form input {
  padding: 0.3rem;
  font-size: 1rem;
}

input {
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
}

input:focus {
  outline: none;
  border: 1px solid #596D48;
  box-shadow: 5px 5px 6px -3px #cdcdcd;
  ;
}

input:invalid {
  border: 1px solid red;
}