@font-face {
  font-family: 'Norse';
  src: url('/Norse-Bold.otf');
}

:root {
  --scale: 1.6;
  --size-2: calc(var(--size-1) / var(--scale));
  --size-1: calc(var(--size0) / var(--scale));
  --size0: 1rem;
  --size1: calc(var(--size0) * var(--scale));
  --size2: calc(var(--size1) * var(--scale));
  --size3: calc(var(--size2) * var(--scale));
  --size4: calc(var(--size3) * var(--scale));
  --size5: calc(var(--size4) * var(--scale));
  --size6: calc(var(--size5) * var(--scale));

  --color-bg: hsl(0, 0%, 95%);
  --color-bg-fade: rgba(0, 0, 0, 0.4);
  --color-white: hsl(0, 0%, 100%);
  --color-shadow: hsl(0, 0%, 80%);
  --color-light-text: hsl(0, 0%, 40%);
  --color-invalid-warning: hsl(0, 85%, 35%);
  --color-primary: #596D48;
}


/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Arial,
    Helvetica,
    sans-serif;
  line-height: 1.2;
  background-color: var(--color-bg);
}

p {
  max-width: 55ch;
}



/* MAIN CONTAINER */
.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}



/* SIDEBAR IMAGE LOGO HEADING and IMAGE CREDIT */
.container-left {
  background: url('/images/container-left-background.jpg') no-repeat center center/cover;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 40ch;
}

.logo {
  margin-bottom: auto;
  margin-top: var(--size5);
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-fade);
  padding: var(--size0);
}

.logo img {
  max-width: auto;
  max-height: 15ch;
}

.logo h1 {
  font-size: var(--size4);
  align-self: center;
  font-family: 'Norse';
  margin: 0;
}

.container-left cite,
.container-left a {
  margin-bottom: var(--size-1);
  font-style: normal;
  font-weight: 300;
  color: var(--color-bg);
  opacity: .85;
}



/* MAIN CONTENT, TEXT, FORM, BUTTON */
.container-right {
  flex: 10 1 0;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 600;
}

.container-right-text {
  padding-left: var(--size2);
  font-size: var(--size1);
}

/* Add margin to the last paragraph in this section */
.container-right-text>p:last-child {
  margin-top: var(--size0);
}

.container-right-text span {
  font-style: italic;
}

.container-right-form {
  background-color: var(--color-white);
  min-width: 100%;
  padding: var(--size1) var(--size2) var(--size2);
  box-shadow: 5px 5px 8px -2px var(--color-shadow);
  margin-top: var(--size2);
}

.container-right-form h2 {
  font-size: var(--size1);
  margin-bottom: var(--size1);
}

.container-right-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container-right-form .group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size0);
}

.container-right-form .group p:first-child {
  margin-right: var(--size2);
}

.container-right-form form>*+* {
  margin-top: var(--size1);
}

.container-right-form p {
  display: flex;
  flex-direction: column;
}

.container-right-form label {
  letter-spacing: .1rem;
  font-size: var(--size-1);
  color: var(--color-light-text);
}

.container-right-form input {
  padding: var(--size-2);
  font-size: var(--size0);
  border: 1px solid var(--color-bg-fade);
  border-radius: var(--size-2);
  outline: none;
  width: var(--size6);
}

input:focus {
  outline: none;
  border: 1px solid #596D48;
  box-shadow: 5px 5px 6px -3px var(--color-shadow);
  ;
}

input:invalid {
  border: 1px solid var(--color-invalid-warning);
}


.container-right-button {
  margin-top: var(--size2);
  padding-left: var(--size2);
}

.container-right-button button {
  margin-bottom: var(--size1);
  padding: var(--size-1) var(--size2);
  border: none;
  border-radius: 6px;
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 5px 5px 6px -3px var(--color-shadow);
  font-size: var(--size0);
}

.container-right-button p {
  font-weight: 500;
}

.container-right-button p a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
}

@media (max-width: 600px) {
  .logo {
    margin: auto;
  }

  .container-left cite {
    display: none;
  }

  .container-right-text,
  .container-right-form,
  .container-right-button {
    margin-top: var(--size-1);
    padding-left: var(--size1);
    padding-right: var(--size1);
  }

  .container-right-button button {
    margin-bottom: var(--size1);
  }
}